absl-py==1.3.0
addict==2.4.0
alabaster==0.7.12
albumentations==1.3.0
anaconda-client==1.11.0
anaconda-navigator==2.3.2
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astroid==2.11.7
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.0
attrs==22.1.0
Augmentor==0.2.12
autocommand==2.2.1
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bing-image-downloader==1.1.2
black==22.6.0
bleach==4.1.0
blis==0.7.9
bot-studio==1.4.0
Bottleneck==1.3.5
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.8
catboost==1.0.6
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
cityscapesScripts==2.2.1
click==8.0.4
cloudpickle==2.0.0
clyent==1.2.2
codecov==2.1.12
colorama==0.4.6
coloredlogs==15.0.1
conda==23.1.0
conda-build==3.23.3
conda-content-trust==0.1.3
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
conda-repo-cli==1.0.24
conda-token==0.4.0
conda-verify==3.4.2
confection==0.0.3
ConfigArgParse==1.5.3
contourpy==1.0.6
cookiecutter==1.7.3
coverage==6.5.0
cryptography==38.0.4
cycler==0.10.0
cymem==2.0.7
Cython==0.29.33
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.2.1
dataclasses-json==0.5.8
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
depthai==2.20.2.0
diff-match-patch==20200713
dill==0.3.6
Django==4.2.1
djangorestframework==3.4.6
djangorestframework-expiring-authtoken==0.1.4
dnspython==2.4.2
docutils==0.18.1
docx==0.2.4
email-validator==2.1.0.post1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
ExifRead==3.0.0
fake-useragent==0.1.11
fastapi==0.104.1
fastjsonschema==2.16.2
filelock==3.9.0
flake8==4.0.1
Flask==2.2.2
Flask-SSE==1.0.0
flatbuffers==1.12
flit_core==3.6.0
fonttools==4.38.0
food-recipe-scraper==1.0.0
fqdn==1.5.1
fsspec==2023.12.2
future==0.18.2
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
gmsh-interop==2021.1.1
google-api-core==2.11.0
google-api-python-client==2.48.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-images-download==2.8.0
Google-Images-Search==1.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.0
GPUtil==1.4.0
gpxpy==1.5.0
graphviz==0.20.1
grpcio==1.50.0
h11==0.13.0
h5py==3.8.0
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.20.2
humanfriendly==10.0
idna==2.10
imagecorruptions==1.1.2
imageio==2.22.4
imagesize==1.4.1
imbalanced-learn==0.11.0
imblearn==0.0
imgdl==1.1.0
importlib-metadata==4.11.3
importlib_resources==6.4.0
imread-from-url==0.1.3
inflect==6.0.2
inflection==0.5.1
install==1.3.5
interrogate==1.5.0
intervaltree==3.1.0
ipdb==0.13.11
ipykernel==6.15.2
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isoduration==20.11.0
isort==5.9.3
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.structures==2.1.0
jaraco.text==3.10.0
jaraco.ui==2.3.0
jaraco.windows==5.7.0
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
json5==0.9.6
jsonpointer==2.3
jsonschema==4.17.3
jupyter-bbox-widget==0.5.0
jupyter_client==7.4.7
jupyter_core==5.2.0
jupyter-events==0.6.3
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab==3.5.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0
keras==2.9.0
keyring==23.4.0
kiwisolver==1.4.4
kwarray==0.6.5
langcodes==3.3.0
lazy-object-proxy==1.6.0
libarchive-c==2.9
libclang==14.0.6
locket==1.0.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
menuinst==1.4.18
meshio==5.3.4
MeshPy==2022.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.21.0
mmcv==0.6.2
mmlvis==10.5.3
mmpycocotools==12.0.3
mobile-sam==1.0
monodepth2==1.0.0
more-itertools==9.0.0
mpmath==1.3.0
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.4.8
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.5.0
nest-asyncio==1.5.6
networkx==2.8.8
nltk==3.7
notebook==6.5.2
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.26.4
numpydoc==1.5.0
nvidia-cublas-cu11==2022.4.8
nvidia-cublas-cu117==11.10.1.25
nvidia-cuda-cupti-cu11==2022.4.8
nvidia-cuda-cupti-cu117==11.7.50
nvidia-cuda-nvcc-cu11==2022.5.4
nvidia-cuda-nvcc-cu117==11.7.64
nvidia-cuda-nvrtc-cu11==2022.4.8
nvidia-cuda-nvrtc-cu117==11.7.50
nvidia-cuda-runtime-cu11==2022.4.25
nvidia-cuda-runtime-cu117==11.7.60
nvidia-cuda-sanitizer-api-cu11==2022.4.8
nvidia-cuda-sanitizer-api-cu117==11.7.50
nvidia-cufft-cu11==2022.4.8
nvidia-cufft-cu117==10.7.2.50
nvidia-curand-cu11==2022.4.8
nvidia-curand-cu117==10.2.10.50
nvidia-cusolver-cu11==2022.4.8
nvidia-cusolver-cu117==11.3.5.50
nvidia-cusparse-cu11==2022.4.8
nvidia-cusparse-cu117==11.7.3.50
nvidia-npp-cu11==2022.4.8
nvidia-npp-cu117==11.7.3.21
nvidia-nvjpeg-cu11==2022.4.8
nvidia-nvjpeg-cu117==11.7.2.34
nvidia-nvml-dev-cu11==2022.4.8
nvidia-nvml-dev-cu117==11.7.50
nvidia-nvtx-cu11==2022.4.8
nvidia-nvtx-cu117==11.7.50
nvidia-pyindex==1.0.9
oauthlib==3.2.2
onnx==1.12.0
onnxruntime-gpu==1.10.0
open3d==0.16.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.9.10
outcome==1.2.0
packaging==22.0
pandas==1.5.2
pandas-stubs==1.2.0.35
pandoc==2.3
pandocfilters==1.5.0
paramiko==2.8.1
parse==1.19.0
parso==0.8.3
partd==1.3.0
path==16.5.0
pathlib==1.0.1
pathspec==0.9.0
pathy==0.10.1
pcl==0.0.0.post1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pillow-heif==0.12.0
pip==22.3.1
pkginfo==1.8.3
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
plumbum==1.8.1
ply==3.11
pooch==1.4.0
poyo==0.5.0
preshed==3.0.8
progressbar==2.5
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.0
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.8.0
pycosat==0.6.4
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydantic-extra-types==2.1.0
pydantic-settings==2.1.0
pydocstyle==6.1.1
pydot==1.4.2
pydotplus==2.0.2
pyee==8.2.2
PyExifTool==0.5.5
pyfiglet==0.8.post1
pyflakes==2.4.0
Pygments==2.15.1
pyinform==0.2.0
PyJWT==2.4.0
pylint==2.14.5
pyls-spyder==0.4.0
pymesh==0.1.1
PyNaCl==1.5.0
pyntcloud==0.3.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyppeteer==1.0.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.4
pyquaternion==0.9.9
pyquery==1.4.3
pyreadline3==3.4.1
pyrealsense2==2.53.1.4623
pyrsistent==0.18.0
PySocks==1.7.1
pyth==0.6.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.4
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
python-magic-bin==0.4.14
python-multipart==0.0.6
python-resize-image==1.1.20
python-slugify==5.0.2
python-version==0.0.2
pytools==2022.1.14
pytz==2021.3
pyvista==0.39.0
PyWavelets==1.4.1
pywin32==305.1
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzbar==0.1.9
pyzmq==25.0.0
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.3
qtconsole==5.3.2
QtPy==2.2.0
qudida==0.0.4
redis==4.5.5
regex==2022.10.31
requests==2.28.1
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
roboflow==1.1.0
rope==0.22.0
rsa==4.9
rtf2xml==1.33
Rtree==0.9.7
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
safetensors==0.4.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
scooby==0.7.2
seaborn==0.12.2
segment-anything==1.0
selenium==4.4.3
Send2Trash==1.8.0
setuptools==67.7.2
simple-image-download==0.5
sip==6.6.2
six==1.16.0
sklearn==0.0.post1
slic==0.0.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.4
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.3.3
spyder-kernels==2.3.3
sqlparse==0.4.4
srsly==2.4.5
starlette==0.27.0
striprtf==0.0.25
subprocess32==3.5.4
supervision==0.10.0
sympy==1.12
tenacity==8.0.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.9.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
terminado==0.13.1
terminaltables==3.1.10
testpath==0.6.0
text-unidecode==1.3
textdistance==4.2.1
thinc==8.1.5
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
three-merge==0.1.1
tifffile==2022.10.10
timm==0.6.13
tinycss==0.4
tk==0.1.0
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchsummary==1.5.1
torchvision==0.15.2+cu118
tornado==6.2
tqdm==4.66.2
traitlets==5.7.1
transformers==4.36.2
trimesh==3.20.1
trio==0.21.0
trio-websocket==0.9.2
typer==0.7.0
typing==3.7.4.3
typing_extensions==4.8.0
typing-inspect==0.9.0
tzdata==2023.3
ubelt==1.2.2
ujson==5.4.0
ultralytics==8.1.42
Unidecode==1.2.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.24.0.post1
vtk==9.2.6
wasabi==0.10.1
watchdog==2.1.6
watchfiles==0.21.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==0.58.0
websockets==12.0
Werkzeug==2.3.4
wget==3.2
whatthepatch==1.0.2
wheel==0.40.0
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
wsproto==1.2.0
xdoctest==1.1.0
xgboost==1.7.2
yapf==0.31.0
zipp==3.11.0
zstandard==0.19.0
